/* small/main css */
@import url('https://fonts.googleapis.com/css?family=Poppins');

$main-blue: #3955f5;
$secondary-blue: #6078f6;

/** animation for design-selection buttons to change colors on hover **/
@keyframes buttonBgColorChange {
  from {background-color: $main-blue;}
  to {background-color: $secondary-blue;}
}

html {
    margin: 0;
    padding: 0;
    }

p, a{
   font-family: 'Poppins', sans-serif;
}



h1 {
  font-family: 'Poppins', sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
}

.summary {
    padding: 5% 20%;
    display: grid;
    font-size: .8em;
}

.summary a {
    display: grid;
    border: none;
    box-shadow: none;
    border-radius: 0.25em;
    font-size: 1 rem;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    padding: 0em 2.8em;
    cursor: pointer;
    background: #25c286;
    text-decoration: none;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
}



abbr {
    text-decoration: none;
}

body {
    font: 75% 'Poppins', sans-serif;
    line-height: 1.88889;
    color: #555753;
    margin: 0;
    padding: 0;
    background: url(images/background.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    }
p {
    margin-top: 0;
    text-align: justify;
    }
h3 {
    font: bold 1.4em "Poppins", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-size: 2em;
    color: $main-blue;
    }
a:link {
    text-decoration: none;
    }
a:visited {
    text-decoration: none;
    color: #D4CDDC;
    }
a:hover, a:focus, a:active {
    text-decoration: underline;
    }
abbr {
    border-bottom: none;
    }


/* specific divs */
.page-wrapper {
    padding: 0;
    margin: 0;
    /* display: grid;*/
    }

.intro {
    margin-left: 20%;
    margin-right: 20%;
    /* order: 1; */
    }

header h1 {
    color: $main-blue;
    margin-top: 10px;
    display: block;
    width: 219px;
    height: 87px;
    white-space: nowrap;
    font-size: 2.4em;

    }

header h2 {
    color: $main-blue;
    margin-top: 58px;
    margin-bottom: 40px;
    margin-left: 20%;
    font-size: 2em;
    white-space: nowrap;
    }

header {
    padding-top: 20px;
    height: 87px;

}

.summary p {
    color: $main-blue;
    font:  1.1em;
    text-align: center;
    padding-top: 125px;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    padding-right: 25%;
}

.preamble {
    padding: 0px 10px 0 10px;
    color: $main-blue;
}
.supporting {
    color: $main-blue;
    margin-top:80px;
    display: grid;
    grid-gap: 80px;
    margin-left: 20%;
    margin-right: 20%;
    /* order: 3; */
}
.explanation {

}

.participation {

}

.benefits {

}
.requirements {

}

footer {
    color: #ffffff;
    text-decoration: underline;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

footer a {
    color: $main-blue;
}

/**aside {
 *    order: 3;
 } */

.zen-valitade-html::before {

}

/* remove "Select a Design:" */
.select {
    visibility: hidden;
    width: 0px;
}

.design-selection {
    margin: 0;
    display: flex;
    justify-content: center;
}

.design-selection ul {
    padding-top: 20px;
    position: relative;
    left: -10px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

.design-selection li {
    background-color: $main-blue;
    text-align: center;
    color: $main-blue;
    display: inline-block;
    border: solid .5px $main-blue;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 5rem;
}

li:hover {
    animation: buttonBgColorChange 3s;
}

.designer-name, .design-name {
    padding: 0px 5px 0px 5px;
}

.designer-name {
    color: $secondary-blue;
    display: block;
    text-align: center;
    position: relative;
    margin-top: -20px;
}

.design-name {
    padding-top: 20px;
    text-decoration: none;
    display: block;
    list-style: none;
    color: white;
    visibility: visible;
}

.design-archives {
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.design-archives li {
    display: flex;
    justify-content: center;
    color: $main-blue;
    list-style: none;
    text-decoration: underline;
    max-width: 100px;
}

.design-archives a {
    color: $main-blue;
}

/* hide "archives" */
.archives {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

/*hide "resources"*/

.resources {
    visibility: hidden;
}

.zen-resources {
    display: flex;
    justify-content: center;
    background-color: $main-blue;
    margin: 0 auto;
}

.zen-resources ul {
    position: relative;
    left: -35px;
    width: 100%;
    list-style: none;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 40px;
}

.zen-resources li {
    text-align: center;
    padding-right: 75px;
}

.zen-resources a {
    text-decoration: underline;
    color: white;
    text-align: center;
}




/* large css */

@media only screen and (min-width: 64em) {

    .zen-resources ul {
      display: flex;
      justify-content: center;
/*      width: 100%;*/
      margin: auto;
    }

    .zen-resources li {
        display: inline;
    }

    .design-selection {
      position: relative;
      left: -2%;
      margin: 0;
   }

    .design-selection ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .design-selection li {
        width: 100%;
        max-width: 150px;
        padding: 10px 10px 10px 10px;
        margin: 10px 0px 10px 10px;
    }

    design-archives li {
        margin: 0 auto;
    }

    h1 {
       font-size: 3em;
       padding-right: 65%;
   }

  header h2 {
       margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
      font: bold 4em "Poppins", sans-serif;
   }

   .summary {
       font-size: 1.3em;
       padding: 2% 15%;
   }

   .summary p a {
    max-width: 15%;
       display: grid;
       width: 450px;
   }

    .summary p {
    color: $main-blue;
    font:  1.1em;
    text-align: center;
    padding-top: 125px;
    margin: auto;
    padding-right: 0%;
    }

}